// About Page Styles

.about-container {
  background: $black;
  position: relative;
  padding: 1rem 0;
  margin-top: 2.15rem;
  text-align: center;

  h2, p {
    color: $white;
    font-weight: 400;
  }

  p {
    font-size: 1.25rem;
  }

  .profile-text-container,
  .profile-pic-container {
    width: 90%;
    margin: 0 auto;
  }

  .profile-pic-container {
    border: 3px solid $white;
    height: 10rem;
  }

  .about-down-arrow {
    width: 1rem;
    height: 1rem;
    border: 3px solid $yellow;
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
    margin: 0 auto;
    cursor: pointer;
  }
}