@import 'variables';
@import 'mixins';

* {
  font-family: $josefin;
}

html {
  background-color: $white;
  overflow-x: hidden;
}

.wrapper {
  padding: 0;
}

a {
  text-decoration: none;
  color: $black;

  &:visited,
  &:active {
    color: $black;
  }
}