// Contact Page Styles

.contact-container {
  background-color: $yellow;
  text-align: center;
  padding: 3rem 0;

  .contact-text-container {

    h2 {
			font-size: 2rem;
      font-weight: 300;
      color: $black;
    }

    p {
      font-size: 1.25rem;
    }
  }

  .contact-form {
    .contact-message,
    .contact-email,
    .contact-btn {
      border: 2px solid $black;
      border-radius: 5px;
      padding: .5rem;
      background: $white;
      color: $black;
      outline: none;
    }

    .contact-message {
      width: 75%;
      height: 8rem;
      max-width: 90%;

      &:focus {
        box-shadow: 0 0 .5rem .125rem $white;
      }
    }

    .contact-email {
      margin-top: .75rem;
      width: 50%;

      &:focus {
        box-shadow: 0 0 .5rem .125rem $white;
      }
    }

    .contact-btn {
      width: 25%;
      margin-top: 1rem;
      background: $white;
      color: $black;
      text-align: center;
      font-weight: 600;
      padding-top: .55rem;

      &:active {
        background-color: darken($white, 10%);
      }
    }
  }
}
