// Page Content Styles

.content-section {

  // General styles
  // padding-top: 4rem;
  transition: all 1000ms ease-in-out;

  // Landing
  @import 'landing';

  // About
  @import 'about';

  // Portfolio
  //@import 'portfolio';

  // Resume
  //@import 'resume';

  // Contact
  //@import 'contact';
}

@media (min-width: 768px) {
  .content-section {
    margin-left: 4rem;
  }
}

@media (min-width: 992px) {

}


@media (min-width: 1200px) {

}