// Landing Page
@keyframes fadeinSun {
	0% {
		bottom: -200px;
		opacity: .4;
	}

	100% {
		bottom: 0;
		opacity: 1;
	}
}

@keyframes sunrise {
	0% {
		background-color: $black;
	}

	100% {
		background-color: transparent;
	}
}

@keyframes fadeintop {
	0% {
		top: -100px;
		opacity: 0;
	}

	100% {
		top: 0;
		opacity: 1;
	}
}

@keyframes fadeinleft {
	0% {
		left: -100px;
		opacity: 0;
	}

	100% {
		left: 0;
		opacity: 1;
	}
}

@keyframes fadeinright {
	0% {
		right: -100px;
		opacity: 0;
	}

	100% {
		right: 0;
		opacity: 1;
	}
}

.hero-container {
	width: 100vw;
	height: 100vh;
	position: relative;

	.fixed-sky {
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
	}

	.hero-img {
		max-width: 100%;
		height: auto;
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: $black;
		background-image: linear-gradient(rgba($white, 0) 0%, rgba($white, 0) 90%, rgba($black, 1));
		animation: sunrise ease-in 1;
		animation-fill-mode: forwards;
		animation-duration: 450ms;
		animation-delay: 300ms;
	}

	.sun-container {
		position: fixed;
		left: 0;
		top: 64px;
		z-index: -1;
		width: 100vw;
		height: calc(100vh - 64px);
		display: flex;
		justify-content: center;
		align-items: center;

		@include breakpoint(sm) {
			left: 84px;
			top: 0;
			width: calc(100vw - 84px);
			height: 100vh;
		}


		.sun {
			position: relative;
			width: 100vw;
			height: 100vw;
			max-width: 450px;
			max-height: 450px;
			border-radius: 50%;
			background-color: rgba($yellow, 0.8);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color: $white;
			opacity: 0;
			animation: fadeinSun ease-in 1;
			animation-fill-mode: forwards;
			animation-duration: 500ms;
			animation-delay: 250ms;

			@include breakpoint(sm) {
				width: 50vw;
				height: 50vw;
				max-height: 500px;
				max-width: 500px;
			}


			.hello {
				top: -100px;
				position: relative;
				opacity: 0;
				animation: fadeintop ease-in 1;
				animation-fill-mode: forwards;
				animation-duration: 750ms;
				animation-delay: 500ms;
				font-size: 6rem;
				color: $white;
				margin: 2rem 0 0;
			}

			h2 {
				position: relative;

				// left: -100px;
				opacity: 0;
				animation: fadeinleft ease-in 1;
				animation-fill-mode: forwards;
				animation-duration: 700ms;
				animation-delay: 550ms;
				margin: .5rem 0;
			}

			h3 {
				position: relative;
				right: -100px;
				opacity: 0;
				animation: fadeinright ease-in 1;
				animation-fill-mode: forwards;
				animation-duration: 700ms;
				animation-delay: 550ms;

				@include breakpoint(md) {
					margin-bottom: 100px;
				}

				@include breakpoint(lg) {
					margin-bottom: 150px;
				}
			}
		}
	}

	.landing-elements {
		color: $black;
		position: absolute;
		top: 0;
		width: 100%;
		text-align: center;
		z-index: 1;
	}
}

.ground {
	position: absolute;
	bottom: 0;
}

.down-arrow-container {
	visibility: hidden;
	position: relative;
	margin: -3.85rem auto 0;

	div {
		border: 3px solid $yellow;
		border-left: none;
		border-top: none;
		height: 1.25rem;
		width: 1.25rem;
		position: relative;
		margin: 0 auto;
		top: .75rem;
		transform: rotate(45deg);
	}
}
