// Navbar
.nav-section {

  .nav-fixed {
    z-index: 1000;
    position: fixed;
    transition: all 500ms ease-in-out, background 100ms linear;
  }

  // MOBILE NAV STYLES
  .nav-fixed.mobile-nav {
    height: 4rem;
    width: 100%;
		background-color: transparent;
		visibility: visible;
		
		&.white {
			background-color: $white;
		}

    .nav-container {
      margin-top: .75rem;
      position: relative;
      width: 100%;

      .page-title {
        position: absolute;
        font-size: 1.5rem;
        top: -2.5rem;
        opacity: 0;
        width: 100%;
        visibility: hidden;
        transition: all 0.5s ease 0s;
        color: $black;

        &.active {
          top: -.75rem;
          opacity: 1;
          visibility: visible;
          display: block;
        }
      }
    }

    .nav-logo-container {
      text-align: left;

      .nav-logo {
        width: 4rem;
        margin-left: .75rem;
      }
    }

    .hamburger {
      cursor: pointer;
      float: right;
      margin-right: .75rem;
      width: 2rem;

      div {
        border: 1px solid $black;
        border-radius: .125rem;
        margin-top: .5rem;
        width: 90%;
        height: 0rem;
        transition: all 0.5s ease 0s;
      }

      &.open {

        div:first-child {
          transform: rotate(225deg) translate(-.5rem, -.4rem) scale(.8, .8);
        }

        div:nth-child(2) {
          width: 100%;
          height: 2rem;
          border-radius: 50%;
          transform: rotate(360deg) translate(0, -1rem);
        }

        div:last-child {
          transform: rotate(315deg) translate(1.9rem, -1.8rem) scale(.8, .8);
        }
      }
    }

    .m {
      margin-left: -.75rem;
      padding-right: .75rem;

      .button {
        background-color: blue;
        width: 100%;
        height: 100%;
      }
    }

    .nav-drop-menu {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      width: 100%;
      top: 0;
      background-color: $white;
      border-top: 3px solid darken($white, 20%);
      transition: all 0.5s ease 0s, visibility 0s linear 0.5s;

      &.open {
        visibility: visible;
        top: 100%;
        opacity: 1;
        transition-delay: 0s;
      }

      .nav-item {
        height: 5rem;
        padding: .25rem 0;
        cursor: pointer;
        width: 100%;
        text-align: center;
        display: inline-block;
        vertical-align: top;
        transition: all 500ms ease-in-out;

        &:hover {
          background-color: darken($white, 10%);
        }

        &:active {
          background-color: darken($white, 20%);
        }

        p {
          font-size: 1.5rem;
        }

        span {
          display: inline-block;
          opacity: 0;
          width: 1rem;
					border: 3px solid $white;
					border-top: none;
					border-bottom: none;
          height: 1.5rem;
          position: relative;
          top: -3.35rem;
          transition: all 500ms ease-in-out;

          &:nth-child(2) {
            left: -6.5rem;
            border-right: 0;
          }

          &:last-child {
            right: -6.5rem;
            border-left: 0;
          }
        }

        &.selected {
          background-color: darken($white, 10%);
          transition: all 500ms ease-in-out;

          span {
            opacity: 1;
            transition: all 500ms ease-in-out;

            &:nth-child(2) {
              left: -2.5rem;
            }

            &:last-child {
              right: -2.5rem;
            }
          }
        }
      }
    }
  }

  // DESKTOP NAV STYLES
  .nav-fixed.desktop-nav {
    height: 100%;
    width: 5rem;
    background-color: $black;
    border-right: 4px solid $white;
    margin-left: -100px;

    .logo-row, .hamburger-row {
      height: 25%;
    }

    .logo-row {
      .nav-logo-container {

        .nav-logo {
          width: 80%;
        }
      }
    }

    .title-row {
      height: 50%;

      .title-container {
        transform: rotate(-90deg);

        .page-title {
          position: absolute;
          margin: -.75rem 0;
          font-size: 1.5rem;
          left: 5.5rem;
          opacity: 0;
          display: inline;
          width: 25%;
          visibility: hidden;
          transition: all 0.5s ease 0s;
          color: $white;

          &.active {
            left: 0;
            opacity: 1;
            display: inline-block;
            visibility: visible;
          }
        }
      }
    }

    .hamburger-row {

      .hamburger-container {

        .hamburger {
          cursor: pointer;
          margin: 0 auto;
          width: 2rem;

          div {
            border: 1px solid $white;
            border-radius: .125rem;
            margin-top: .5rem;
            width: 90%;
            height: 0rem;
            transition: all 0.5s ease 0s;
          }

          &.open {

            div:first-child {
              transform: rotate(225deg) translate(-1.2rem, -1.1rem) scale(.8, .8);
            }

            div:nth-child(2) {
              width: 100%;
              height: 2rem;
              border-radius: 50%;
              transform: rotate(360deg);
            }

            div:last-child {
              transform: rotate(315deg) translate(1.2rem, -1.1rem) scale(.8, .8);
            }
          }
        }
      }
    }

    .drop-row {
      height: 100%;
      width: 10rem;
      position: absolute;
      top: 0;
      left: -9rem;
      background-color: $black;

      .nav-drop-menu {
        margin-left: 2rem;

        a {
          color: $white;
          font-size: 2rem;
          left: -1rem;
          position: relative;

          .nav-item {
            text-align: left;
            transition: margin-left 500ms ease-in-out;

            span {
              position: absolute;
              top: 2rem;
              margin-left: -12rem;
              width: 9rem;
              border: 1px solid $white;
              transition: margin-left 500ms ease-in-out;
            }

            &:hover {
              margin-left: -1rem;

              span {
                margin-left: -2rem;
              }
            }

            &.selected {
              margin-left: -1rem;
              color: $yellow;

              span {
                margin-left: -2rem;
                border-color: $yellow;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .nav-section {

    // MOBILE NAV STYLES
    .nav-fixed.mobile-nav {
			margin-top: -100px;
			visibility: hidden;

      .nav-drop-menu {
        display: none;
      }
    }

    // DESKTOP NAV STYLES
    .nav-fixed.desktop-nav {
      margin-left: 0;

      &.open {
				margin-left: 10rem;
				
				.title-row .title-container .page-title.active {
					opacity: 0;
				}
      }
    }
  }
}

@media (min-width: 992px) {

}


@media (min-width: 1200px) {

}
