.portfolio-container {
	background: $white;

	.work-container {
		position: relative;

		.work-info-container {
			position: absolute;
			top: 0;
			left: 0;
			width: calc(100% - 40px);
			padding: 20px;
			text-align: center;
			transition: background 150ms linear;

			@include breakpoint(sm) {
				left: 84px;
				top: 64px;
				max-width: 500px;
				text-align: left;
			}

			&.fixed {
				position: fixed;
				left: 0;
				top: 64px;

				@include breakpoint(sm) {
					left: 132px;
				}
			}

			.work-title,
			.work-description {
				padding: 20px;
				transition: all 150ms linear;
			}

			.work-title {
				// border-bottom: 5px solid $yellow;
				color: $yellow;
				font-weight: bold;
				font-size: 20px;
				margin: 0;
			}

			.work-description {
				display: none;

				@include breakpoint(sm) {
					display: block;
				}
			}

			&.yellow {
				background: rgba($yellow, .9);

				.work-title,
				.work-description {
					color: $white;
				}

				.work-title {
					border-color: $white;
				}
			}

			&.white {
				background: rgba($white, .9);

				.work-title,
				.work-description {
					color: $black;
				}

				.work-title {
					border-color: $black;
				}
			}

			&.black {
				background: rgba($black, .9);

				.work-title,
				.work-description {
					color: $yellow;
				}

				.work-title {
					border-color: $yellow;
				}
			}
		}

		.work {
			height: 100vh;
			// border-bottom: 5px solid $black;
			background-size: cover;

			&.first {
				// background: $white;
				background-image: url('../img/work-1.jpg');
			}

			&.second {
				// background: $yellow;
				background-image: url('../img/work-2.jpg');
			}

			&.third {
				// background: $black;
				background-image: url('../img/work-3.jpg');
			}
		}

		.more-work {
			height: 50vh;
			background: $white;
		}
	}
	
}