// Sass Variables

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:600,400|Playfair+Display);

// Fonts
$josefin: 'Josefin Sans', sans-serif;
$playfair: 'Playfair Display', serif;

// Colors
$white: #e6e6e6;
$black: #2e2e2e;
$yellow: #ffb038;