div.about-container.row
    div.col-xs-12.last-xs
        div.profile-text-container
            h2 The name's Chase.
            p Chase Rockwell Kitteridge in full.
            p I'm a web developer by day and... </br>well I guess I'm a web developer by night too.
            p I live in beautiful Salt Lake City, Utah and I'm 27 years old.
            p This is what I look like on a good day.
            div.profile-pic-container
            p I like to build things for the web, whether it's an app, website, or anything in between.
            p Want to check out my work? Keep scrolling down or just click this little arrow.
            a(href='#portfolio')
                div.about-down-arrow
