div.row
    div.col-xs-12#landing
        include landing
    div.col-xs-12#about
        include about.pug
    div.col-xs-12#portfolio
        include portfolio
    div.col-xs-12#contact
        include contact.pug