head
	meta(charset='UTF-8')
	meta(name='description' content='The portfolio of Front End Web Developer, Chase Kitteridge')
	meta(name='viewport' content='width=device-width, initial-scale=1')
	title Chase Kitteridge | Web Developer

	// Css
	link(rel='stylesheet' type='text/css' href='vendor/vendor.bundle.css')
	link(rel='stylesheet' type='text/css' href='css/main.css')

	// JS
	script(src='https://cdn.jsdelivr.net/npm/contentful@latest/dist/contentful.browser.min.js')
	script(src='./vendor/third-party.bundle.js')
	script(src='./js/main.min.js')
