.hero-container
	.fixed-sky
		img(src='img/sky.png' alt="Sky")
	.ground#ground
		img.hero-img(src='img/ground.png' alt='Hero Image')
	.sun-container
		.sun
			h1.hello Hello
			h2 Welcome to the website
			h3 Make yourself at home
	//- div.landing-elements
	//- 	h1.hello Hello
	//- 	h2 Welcome to the website
	//- 	h3 Make yourself at home
.down-arrow-container
	div