div.nav-fixed.mobile-nav
    div.row.center-xs
        div.col-xs-3
            div.nav-container.nav-logo-container
                a(href='#top')
                    img.nav-logo(src='img/logo.png' alt='Chase Kitteridge Logo')
        div.col-xs-6
            div.nav-container
                p.page-title.landing
                p.page-title.about About
                p.page-title.portfolio Portfolio
                p.page-title.contact Contact
        div.col-xs-3.last-xs
            div.nav-container.hamburger-container
                div.hamburger#mobileHamburger
                    div
                    div
                    div
        div.col-xs-12.last-xs
            div.nav-drop-menu
                a(href='#about').about-a
                    div.nav-item
                        p About
                        span
                        span
                a(href='#portfolio').portfolio-a
                    div.nav-item
                        p Portfolio
                        span
                        span
                a(href='#contact').contact-a
                    div.nav-item
                        p Contact
                        span
                        span

div.nav-fixed.desktop-nav
    div.row.center-xs.middle-xs.logo-row
        div.col-xs-12.last-xs
            div.nav-container.nav-logo-container
                a(href='#top')
                    img.nav-logo(src='img/logo.png' alt='Chase Kitteridge Logo')
    div.row.center-xs.middle-xs.title-row
        div.col-xs-12.last-xs
            div.nav-container.title-container
                p.page-title.landing
                p.page-title.about About
                p.page-title.portfolio Portfolio
                p.page-title.contact Contact
    div.row.center-xs.middle-xs.hamburger-row
        div.col-xs-12.last-xs
            div.nav-container.hamburger-container
                div.hamburger#desktopHamburger
                    div
                    div
                    div
    div.row.center-xs.middle-xs.drop-row
        div.col-xs-12.last-xs
            div.nav-drop-menu
                a(href='#about').about-a
                    div.nav-item
                        p About
                        span
                a(href='#portfolio').portfolio-a
                    div.nav-item
                        p Portfolio
                        span
                a(href='#contact').contact-a
                    div.nav-item
                        p Contact
                        span