.portfolio-container.row
	.col-xs-12.last-xs
		.work-container.row
			.work-info-container#workInfo
				p.work-title#workTitle
				p.work-description#workDescription
				button.work-link See More
			.col-xs-12
				.work.first#firstWork
			.col-xs-12
				.work.second#secondWork
			.col-xs-12
				.work.third#thirdWork
			.col-xs-12
				.more-work#moreWork
		
			