//
   Created by chasekitteridge on 4/6/16.

div.about-container.row
    div.col-xs-12
        div.profile-text-container
            h2 The name's Chase.
            p Chase Rockwell Kitteridge in full.
            p I'm a web developer by day and... </br>well I guess I'm a web developer by night too.
            p I live in beautiful Salt Lake City, Utah and I'm 25 years old.
            p This is what I look like on a good day.
            div.profile-pic-container
            p I like building things for the web. Whether I'm building an app, website, or anything in between, I like to keep it simple.
            p Want to check out my work? Keep scrolling down or just click this little arrow.
            a(href='#contact')
                div.about-down-arrow
