//
   Created by chasekitteridge on 4/6/16.

div.row.contact-container
    div.col-xs-12
        div.contact-text-container
            h1 Want to get in touch?
            p Give me a shout.
            p Here, I'll even help you out.
        form.contact-form(method='post' id='contact_form' name='contact_form' action='')
            div.row
                div.col-xs-12
                    textarea.contact-message(placeholder='Or write your own message!' name='message') Hey Chase, Love the site! I'm writing because...
                div.col-xs-12
                    input.contact-email(placeholder='Your email here' type='text' name='email')
                div.col-xs-12
                    button.contact-btn(type='button') Send