//
   Created by chasekitteridge on 4/5/16.

head
    meta(charset='UTF-8')
    meta(name='description' content='The portfolio of Front End Web Developer, Chase Kitteridge')
    title Chase Kitteridge | Web Developer

    // Css
    link(rel='stylesheet' type='text/css' href='thirdParty/normalize.css')
    link(rel='stylesheet' type='text/css' href='thirdParty/flexboxgrid.min.css')
    link(rel='stylesheet' type='text/css' href='css/main.css')

    // JS
    script(src='thirdParty/jquery-2.2.3.js')
    script(src='thirdParty/underscore.min.js')
    script(src='js/main.js')
