//
   Created by chasekitteridge on 4/6/16.

div.hero-container
    img.hero-img(src='img/hero.jpg' alt='Hero Image')
    div.landing-elements
        h1 Hello.
        h2 Welcome to the website.
        h3 Make yourself at home.
div.down-arrow-container
    div