//
   Created by chasekitteridge on 4/5/16.

body.wrapper#top
    section.nav-section#nav
        include nav
    section.content-section
        include content
    section.footer-section
        include footer