//
   Created by chasekitteridge on 4/5/16.

div.nav-fixed
    div.row.center-xs
        div.col-xs-3
            div.nav-container.nav-logo-container
                a(href='#top')
                    img.nav-logo(src='img/logo.png' alt='Chase Kitteridge Logo')
        div.col-xs-6
            div.nav-container
                p.page-title.landing
                p.page-title.about About
                p.page-title.portfolio About
                p.page-title.contact Contact
        div.col-xs-3
            div.nav-container.hamburger-container
                div.hamburger
                    div
                    div
                    div
        div.col-xs-12.col-md-6
            div.nav-drop-menu
                a(href='#about')
                    div.nav-item
                        p About
                a(href='#portfolio')
                    div.nav-item
                        p Portfolio
                a(href='#resume')
                    div.nav-item
                        p Resume
                a(href='#contact')
                    div.nav-item
                        p Contact

